<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title><%= title %></title>
</head>
<body>
  <h3>Message Details</h3>
  <p>Message: <%= message.text%></p>
  <p>Sender: <%= message.user%></p>
  <p>From: <%= message.countryName %></p>
  <p><%= message.formattedDate %></p>
  <a href="/">Back to Home</a>
</body>
</html>